<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <title>ejoy2d-js</title>
    <script type="text/javascript" src="{{url_for('static',filename ='core.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='string.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='path.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='uri.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='http.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='matrix.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='ejoy2dgame.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='geometry.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='blendmode.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='material.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='render.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='renderbuffer.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='scissor.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='screen.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='shader.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='sprite_trans.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='spritepack.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='sprite.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='texture.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='dfont.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='label.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='richtext.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename ='utils.js')}}"></script>


    <script type="text/javascript" src = "{{url_for('static',filename ='ex04.js')}}"></script>
    <script type="text/javascript" src = "{{url_for('static',filename ='main.js')}}"></script>

</head>

    <body onload="webGLStart();">
    <a href="./">Hello WebGL</a><br />
    <div class="container">
      <canvas id="textCanvas" width="50" height="50"></canvas>
      <canvas id="main_canvas" style="border: none;" width="1024" height="768"></canvas>
    </div>
    </body>
</html>
